/* Define colors of the project */

:root {
  /* ### Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Active-State: hsl(158, 63%, 25%);
  --Cream: hsl(30, 38%, 92%);
  /* ### Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/* Define Fonts */

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces.woff2); /*Changed for WOFF2 format , ttf loading was very slow */
  font-weight: 100 900;
  font-style: normal;
}

/* Reset to default project */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px; /* Now, 1rem = 14px */
}

/* Start styling  */

body {
  max-width: 1440px;
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* ### tile */
.product-card {
  max-width: 90vw;
  max-width: 343px;
  overflow-y: auto;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto 2rem auto;
  border-radius: 0.9rem;
}
/* ### tile */

/* ### IMAGE */
.product-card__image-container {
  max-width: 343px;
}

.product-card__image {
  width: 100%;
  border-radius: 0.9rem 0.9rem 0 0;
}
/* ### IMAGE */

/* ### CONTENT */
.product-card__content {
  padding: 1.4rem 1.7rem;
}

.product-card__category {
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  transform: scale(1, 0.9);
  color: var(--Dark-grayish-blue);
}

.product-card__title {
  font-family: Fraunces, serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--Very-dark-blue);
  padding-top: 0.8rem;
  line-height: 2.3rem;
}

.product-card__description {
  padding-top: 1.2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}

.product-card__pricing {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-card__price--current {
  font-family: Fraunces, serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--Dark-cyan);
}

.product-card__price--original {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  padding-left: 1.5rem;
}

.product-card__button {
  width: 100%;
  padding: 1rem 0 1rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Dark-cyan);
  border: none;
  border-radius: 0.5rem;
}
.product-card__button:hover {
  background-color: var(--Active-State);
  cursor: pointer;
}
.product-card__button--add-to-cart {
  position: relative;
  padding-left: 30px;
}
/* ### CART LOGO  */
.product-card__button--add-to-cart::before {
  content: "";
  background-image: url("./images/icon-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 6.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.1rem;
  height: 1.1rem;
}
/* ### CONTENT */
footer {
  display: none;
}

/* ### MEDIAS QUERIES */

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Cream);
  }
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .product-card__image-container {
    width: 100%;
    height: auto;
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .product-card__image {
    display: none; /*not sure if it was the best way to do it, but it's working so far ^^ */
  }

  /* Adjusting padding to desktop version */
  .product-card__content {
    padding: 2.3rem 2.3rem;
  }
  .product-card__title {
    padding-top: 1.3rem;
  }
  .product-card__description {
    padding-top: 1.6rem;
  }
  .product-card__pricing {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
  .product-card__button {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
  .product-card__button--add-to-cart::before {
    content: "";
    background-image: url("./images/icon-cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.1rem;
    height: 1.1rem;
  }
}
